* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

.disable {
  pointer-events: none;
  opacity: 0.6; }

.zoom-enter-active {
  transition: all .15s ease; }

.zoom-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1); }

.zoom-enter, .zoom-leave-to {
  transform: scale(0.3);
  opacity: 0; }

.miracles-button-group-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  padding: 6px; }

.miracles-button-group-small-horizontal-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-small-horizontal-list > :not(:first-child) {
    margin-left: 10px;
    border-left-width: 0; }

.miracles-button-group-small-vertical-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-small-vertical-list > :not(:first-child) {
    margin-top: 10px;
    border-top-width: 0; }

.miracles-button-group-small-horizontal {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-small-horizontal > :not(:first-child) {
    margin-left: 10px; }

.miracles-button-group-small-vertical {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-small-vertical > :not(:first-child) {
    margin-top: 10px; }

.miracles-button-group-large-horizontal-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-large-horizontal-list > :not(:first-child) {
    margin-left: 30px;
    border-left-width: 0; }

.miracles-button-group-large-vertical-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-large-vertical-list > :not(:first-child) {
    margin-top: 30px;
    border-top-width: 0; }

.miracles-button-group-large-horizontal {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-large-horizontal > :not(:first-child) {
    margin-left: 30px; }

.miracles-button-group-large-vertical {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-large-vertical > :not(:first-child) {
    margin-top: 30px; }

.miracles-button-group-normal-horizontal-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-normal-horizontal-list .miracles-button-box {
    border-radius: 0 !important; }
  .miracles-button-group-normal-horizontal-list > :not(:first-child) {
    margin-left: 0px;
    border-left-width: 0; }

.miracles-button-group-normal-vertical-list {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-normal-vertical-list .miracles-button-box {
    border-radius: 0 !important; }
  .miracles-button-group-normal-vertical-list > :not(:first-child) {
    margin-top: 0px;
    border-top-width: 0; }

.miracles-button-group-normal-horizontal {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-normal-horizontal .miracles-button-box {
    border-radius: 0 !important; }
  .miracles-button-group-normal-horizontal > :not(:first-child) {
    margin-left: 0px; }

.miracles-button-group-normal-vertical {
  display: inline-flex;
  flex-wrap: wrap; }
  .miracles-button-group-normal-vertical .miracles-button-box {
    border-radius: 0 !important; }
  .miracles-button-group-normal-vertical > :not(:first-child) {
    margin-top: 0px; }

.miracles-button-group-direction-horizontal {
  flex-direction: row; }

.miracles-button-group-direction-vertical {
  flex-direction: column; }

/*# sourceMappingURL=miracles-button-group.css.map */
