* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

.disable {
  pointer-events: none;
  opacity: 0.6; }

.zoom-enter-active {
  transition: all .15s ease; }

.zoom-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1); }

.zoom-enter, .zoom-leave-to {
  transform: scale(0.3);
  opacity: 0; }

.miracles-loading-box {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }
  .miracles-loading-box .miracles-loading-container {
    list-style: none;
    display: inline-flex;
    align-items: center; }
    .miracles-loading-box .miracles-loading-container .miracles-loading-item {
      width: 0.5em;
      height: 3em;
      background-color: #FFF; }
    .miracles-loading-box .miracles-loading-container :nth-child(1) {
      animation: loading-keyframes 0.25s linear -0.16s infinite alternate;
      -webkit-animation: loading-keyframes 0.25s linear -0.16s infinite alternate;
      -moz-animation: loading-keyframes 0.25s linear -0.16s infinite alternate;
      -o-animation: loading-keyframes 0.25s linear -0.16s infinite alternate; }
    .miracles-loading-box .miracles-loading-container :nth-child(2) {
      animation: loading-keyframes 0.25s linear -0.12s infinite alternate;
      -webkit-animation: loading-keyframes 0.25s linear -0.12s infinite alternate;
      -moz-animation: loading-keyframes 0.25s linear -0.12s infinite alternate;
      -o-animation: loading-keyframes 0.25s linear -0.12s infinite alternate; }
    .miracles-loading-box .miracles-loading-container :nth-child(3) {
      animation: loading-keyframes 0.25s linear -0.08s infinite alternate;
      -webkit-animation: loading-keyframes 0.25s linear -0.08s infinite alternate;
      -moz-animation: loading-keyframes 0.25s linear -0.08s infinite alternate;
      -o-animation: loading-keyframes 0.25s linear -0.08s infinite alternate; }
    .miracles-loading-box .miracles-loading-container :nth-child(4) {
      animation: loading-keyframes 0.25s linear -0.04s infinite alternate;
      -webkit-animation: loading-keyframes 0.25s linear -0.04s infinite alternate;
      -moz-animation: loading-keyframes 0.25s linear -0.04s infinite alternate;
      -o-animation: loading-keyframes 0.25s linear -0.04s infinite alternate; }
    .miracles-loading-box .miracles-loading-container :nth-child(5) {
      animation: loading-keyframes 0.25s linear 0s infinite alternate;
      -webkit-animation: loading-keyframes 0.25s linear 0s infinite alternate;
      -moz-animation: loading-keyframes 0.25s linear 0s infinite alternate;
      -o-animation: loading-keyframes 0.25s linear 0s infinite alternate; }
    .miracles-loading-box .miracles-loading-container :not(:first-child) {
      margin-left: 0.3em; }
  .miracles-loading-box .miracles-loading-text-box {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    left: 0;
    top: 0; }
    .miracles-loading-box .miracles-loading-text-box .miracles-loading-text {
      color: rgba(255, 255, 255, 0.42);
      font-size: 1em;
      margin-bottom: 6.6em; }

.miracles-loading-shadow {
  background-color: rgba(0, 0, 0, 0.7); }

@keyframes loading-keyframes {
  from {
    height: 0.8em; }
  to {
    height: 3em; } }
@-webkit-keyframes loading-keyframes {
  from {
    height: 0.8em; }
  to {
    height: 3em; } }
@-moz-keyframes loading-keyframes {
  from {
    height: 0.8em; }
  to {
    height: 3em; } }
@-ms-keyframes loading-keyframes {
  from {
    height: 0.8em; }
  to {
    height: 3em; } }

/*# sourceMappingURL=miracles-loading.css.map */
